<div class="image-container">
  <img class="bg-img" src="../../../assets/images/exit.jpg" alt="">
  <div class="box">
    <div class="box-inner">
      <h1>Are you sure you want to exit?</h1>
    </div>
  </div>

  <div>
    <div class="button-holder">
      <div class="img-holder" (click)="close()">
        <img class="top-img" src="../../../assets/gifs/cross.gif" alt="">
      </div>
    </div>
  </div>

  <div>
    <div class="button-holder2">
      <div class="img-holder" (click)="exit()">
        <img class="top-img" src="../../../assets/gifs/check.gif" alt="">
      </div>
    </div>
  </div>
</div>