<div class="main-container">
  <div class="logo-holder">
    <!-- <ion-row class="logo-row">
      <ion-col>
        <ion-button (click)="onClickBack()" class="icon-card-menu">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div class="img-base">
    <div class="img-holder">
      <img [src]="base64Image" alt="Captured Image">
    </div>
    <div class="button-holder2">
      <ion-button class="app-button" (click)="startRecognition()" *ngIf="!recording">
        <ion-icon name="mic-outline"></ion-icon>
      </ion-button>

      <ion-button class="app-button" (click)="stopRecognition()" *ngIf="recording">
        <ion-icon name="mic-off-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="button-holder">
    <ion-button class="app-button" (click)="takePicture()"> 
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
  </div> -->
</div>
