// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --color-primary: #f6aca2;    /* original red */
    --color-secondary: #ef9ca9;  /* transitioning towards purple */
    --color-tertiary: #e48ab0;   /* lighter purple */
    --color-quaternary: #d77ab6; /* medium purple */
    --color-quinary: #c76abd;    /* darker purple */
}
