<div class="main-container">
    <!-- <div class="alphabet-container"> -->
    <div class="button-holder2">
        <div class="img-holder" (click)="close()">
            <img class="top-img" src="../../../assets/images/close.png" alt="">
        </div>
    </div>
    <div class="box">
        <div class="box-inner">
          <h1>Alphabet</h1>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #ff6347;" (click)="clickLetter('a')">A</div>
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #ffa07a;" (click)="clickLetter('b')">B</div>                
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #ffeb3b;" (click)="clickLetter('c')">C</div>                
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #8bc34a;" (click)="clickLetter('d')">D</div>                
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #f06292;" (click)="clickLetter('e')">E</div>
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #40c4ff;" (click)="clickLetter('f')">F</div>            
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #ff9800;" (click)="clickLetter('g')">G</div>               
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #e040fb;" (click)="clickLetter('h')">H</div>                
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #4caf50;" (click)="clickLetter('i')">I</div>
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #ff5252;" (click)="clickLetter('j')">J</div>            
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #3f51b5;" (click)="clickLetter('k')">K</div>               
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #9c27b0;" (click)="clickLetter('l')">L</div>                
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #cddc39;" (click)="clickLetter('m')">M</div>
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #795548;" (click)="clickLetter('n')">N</div>           
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #673ab7;" (click)="clickLetter('o')">O</div>               
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #f44336;" (click)="clickLetter('p')">P</div>               
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #00bcd4;" (click)="clickLetter('q')">Q</div>
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #4caf50;" (click)="clickLetter('r')">R</div>           
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #9e9e9e;" (click)="clickLetter('s')">S</div>              
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #ff5722;" (click)="clickLetter('t')">T</div>               
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #009688;" (click)="clickLetter('u')">U</div>
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #607d8b;" (click)="clickLetter('v')">V</div>           
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #ffc107;" (click)="clickLetter('w')">W</div>              
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #e91e63;" (click)="clickLetter('x')">X</div>               
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #8bc34a;" (click)="clickLetter('y')">Y</div>
            </ion-col>
            <ion-col size="3">
                           
            </ion-col>
            <ion-col size="3">
                           
            </ion-col>
            <ion-col size="3">
                <div class="letter-bubble" (click)="triggerBounce($event)" style="background-color: #2196f3;" (click)="clickLetter('z')">Z</div>              
            </ion-col>
        </ion-row>
    </ion-grid>
    <div class="box">
        <div class="box-inner">
          <h1>Colors</h1>
        </div>
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                <div (click)="triggerHeartbeat($event)" (click)="sayColor('red')">
                    <img class="img" src="../../../assets/colors/red.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div (click)="triggerHeartbeat($event)" (click)="sayColor('blue')">
                    <img class="img" src="../../../assets/colors/blue.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div (click)="triggerHeartbeat($event)" (click)="sayColor('green')">
                    <img class="img" src="../../../assets/colors/green.jpg">
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="4">
                <div (click)="triggerHeartbeat($event)" (click)="sayColor('yellow')">
                    <img class="img" src="../../../assets/colors/yellow.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div (click)="triggerHeartbeat($event)" (click)="sayColor('orange')">
                    <img class="img" src="../../../assets/colors/orange.jpg">
                </div>
            </ion-col>
            <ion-col size="4">
                <div (click)="triggerHeartbeat($event)" (click)="sayColor('purple')">
                    <img class="img" src="../../../assets/colors/purple.jpg">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>    
</div>